{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        },
        "modules": "commonjs",
        "useBuiltIns": "usage"
      }
    ]
  ]
}
